* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

  .selectdiv {
    border: 2px solid green;
    float:left;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .datalist {
    margin-left: 10px;
    float:left
  }

  .containerhome {
    display:flex;
    overflow: hidden;
  }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.left-panel {
  width: 50%;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}

.right-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
}

.file-uploader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.file-dwnloader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.column {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.column:not(:first-child) {
  border-left: 1px solid gray;
}

h3 {
  margin-top: 0;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 10px;
  font-size: 18px;
}

input[type="text"] {
  margin-top: 5px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid gray;
  font-size: 16px;
}

input[type="password"] {
  margin-top: 5px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid gray;
  font-size: 16px;
}

button {
  margin-top: 10px;
  padding: 5px 20px;
  border-radius: 3px;
  border: none;
  background-color:  rgb(125, 185, 40);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgba(124, 185, 40, 0.801);
}

select {
  margin-top: 5px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid gray;
  font-size: 16px;
  width: 100%;
}

.Checkbox {
  margin-top: 10px;
}

.Checkbox-label {
  font-size: 18px;
}

:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-content {
  left: 1/4;
  right: 1/4;
}

.references {
  font-size: 14px;
  margin-top: 20px;
}