.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .column {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .column:not(:first-child) {
    border-left: 1px solid gray;
  }
  
  h3 {
    margin-top: 0;
    font-size: 24px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-top: 10px;
    font-size: 18px;
  }
  
  input[type="text"] {
    margin-top: 5px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid gray;
    font-size: 16px;
  }
  
  button[type="submit"] {
    margin-top: 10px;
    padding: 5px 20px;
    border-radius: 3px;
    border: none;
    background-color: #008CBA;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #005f6b;
  }
  
  select {
    margin-top: 5px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid gray;
    font-size: 16px;
    width: 100%;
  }
  
  .Checkbox {
    margin-top: 10px;
  }
  
  .Checkbox-label {
    font-size: 18px;
  }
  